<li class="collection-header">
    <h5 id="header"><%= label %></h5>
</li>
<% model.forEach(function (row) { %>
<li class="collection-item avatar hoverable" data-userid="<%= row._id %>">
    <img src="<%= "/public/images/" + row._id + row.avatarextension %>" alt="" class="circle backup_picture">
    <span class="title"><%= row.name %></span>
    <div class="secondary-content">
        <% if (withAddOption) {%>
            <i class="material-icons" onclick="addFromRequests(this)">add</i>
        <%}%>
        <i class="material-icons" onclick="remove(this, '<%= type %>')">remove</i>
        <i class="material-icons" onclick="showUserInfo(this)">info</i>
    </div>
</li>
<% }); %>