<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/public/css/materialize.clockpicker.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/public/css/style.css"  media="screen,projection"/>
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
    <script type="text/javascript" src="/public/js/jquery-3.2.0.min.js"></script>
    <!--<script type="text/javascript" src="/public/js/knockout.min.js"></script>-->
    <script type="text/javascript" src="/public/js/materialize.min.js"></script>
    <script type="text/javascript" src="/public/js/materialize.clockpicker.js"></script>
    <script type="text/javascript" src="/public/js/jquery.materialize-autocomplete.min.js"></script>
    <script type="text/javascript" src="/public/js/create.js"></script>
    <title>Create Game</title>
</head>
<body>

<%- include('navbarLoggedIn') %>

<div class="container">
    <div class="row">
        <form class="col s12" method="post" action="/games/new" id="createForm">
            <input id="participants" type="hidden" name="playersids" value="<%= game.playerids %>"/>
            <input id="invites" type="hidden" name="invitesids" value="<%= game.invitedids%> "/>
            <input id="requests" type="hidden" name="requestsids" value="<%= game.requestsids %>"/>
            <div class="row">
                <div class="input-field col s2">
                    <%- include('select', {model: sports, label: "Sport", choosed: game.sport}) %>
                </div>
                <div class="input-field col s2">
                    <label for="date">Date</label>
                    <input id="date" type="date" class="datepicker" name="date" value="<%= game.date %>"/>
                </div>
                <div class="input-field col s2">
                    <label for="timepicker">Time</label>
                    <input id="timepicker" class="timepicker" type="time" name="time" value="<%= game.time %>" >
                </div>
                <div class="input-field col s3">
                    <%- include('select', {model: visibilities, label: "Visibility", choosed: game.visibility}) %>
                </div>
                <div class="input-field col s1">
                    <input id="players" type="text" class="validate" name="playercount" value="<%= game.maxplayers %>">
                    <label for="players">Players</label>
                </div>
                <div class="input-field col s2">
                    <%- include('select', {model: levels, label: "Level", choosed: game.level}) %>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="location" type="text" class="validate" name="location" value="<%= game.location %>">
                    <label for="location">Location</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="description" class="materialize-textarea" name="description"><%= game.description %></textarea>
                            <label for="description">Description</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="input-field col s5">
            <div class="autocomplete" id="single">
                <div class="ac-input">
                    <input type="text" id="singleInput"  placeholder="Please input e-mail or username" data-activates="singleDropdown" data-beloworigin="true" autocomplete="off">
                </div>
                <ul id="singleDropdown" class="dropdown-content ac-dropdown"></ul>
            </div>
            <label class="active" for="singleInput">Invite player</label>
        </div>
        <div class="col s2">
            <button class="btn waves-effect waves-light input-field" type="button" onclick="invite()" style="float: right">Invite
                <i class="material-icons right">add</i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <ul class="collection with-header">
                <%- include('collectionWithIcons', {model: game.players, label: playerslabel, withAddOption: false, type: "players" }) %>
            </ul>
        </div>
        <div class="col s4">
            <ul id="invitesCollection" class="collection with-header">
                <%- include('collectionWithIcons', {model: game.invited, label: invitedlabel, withAddOption: false, type: "invites"}) %>
            </ul>
        </div>
        <div class="col s4">
            <ul class="collection with-header">
                <%- include('collectionWithIcons', {model: game.requested, label: requestedlabel, withAddOption: true, type: "requests" }) %>
            </ul>
        </div>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light input-field" type="submit" name="action" form="createForm">Create
            <i class="material-icons right">send</i>
        </button>
        <form action="/games/delete" method="post" class="right">
            <input type="hidden" name="id" value="1"/>
            <button class="btn waves-effect waves-light red input-field" type="submit" name="action">Delete
                <i class="material-icons right">delete</i>
            </button>
        </form>
    </div>
</div>
</body>
</html>