<a href="/games/1">
    <div class="card-panel teal small white-text hoverable">
        <span><%= game.sport%></span>
        <table>
            <thead>
            <tr>
                <th data-field="id">Date</th>
                <th data-field="name">Time</th>
                <th data-field="price">Players</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= game.date %></td>
                <td><%= game.time %></td>
                <td><%= game.maxplayers %>/<%= game.playerids.length %></td>
            </tr>
            <tr>
                <td colspan="3"><%= game.location %></td>
            </tr>
            </tbody>
        </table>
    </div>
</a>