<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find My Team | Game </title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/public/css/style.css" media="screen,projection"/>
    <script type="text/javascript" src="/public/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/public/js/materialize.min.js"></script>
    <script type="text/javascript" src="/public/js/game.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnMvBIZTjgHPh0cgzQjXjevZ46RMccfMw&callback=showMarker"></script>
</head>
<body>

<%- include('navbarLoggedIn', { userid: userid, avatar: avatar } ) %>

<div class="container">
    <div class="row">
        <div class="col s8">
            <div class="row">
                <div class="col s12">
                    <% if (playbutton) { %>
                        <form action="/play" method="post" style="float: left">
                            <input type="hidden" name="id" value="<%=game._id %>"/>
                            <button  class="btn waves-effect waves-light" type="submit">Play</button>
                        </form>
                    <%}%>
                    <% if (notplaybutton) { %>
                        <form action="/notplay" method="post" style="float: left; margin-left: 5px">
                            <input type="hidden" name="id" value="<%=game._id %>"/>
                            <button  class="btn waves-effect waves-light red" type="submit">Not play</button>
                        </form>
                    <%}%>
                    <% if (requestbutton) { %>
                        <form action="/request" method="post" style="float: left; margin-left: 5px">
                            <input type="hidden" name="id" value="<%=game._id %>"/>
                            <button  class="btn waves-effect waves-light purple" type="submit">Request</button>
                        </form>
                    <%}%>
                    <% if (editbutton) { %>
                    <a href="/games/edit/<%=game._id %>">
                        <button  class="btn waves-effect waves-light inline brown right" type="button">Edit</button>
                    </a>
                    <%}%>
                    <% if (refusebutton) {%>
                        <form action="/refuse" method="post" style="float: right; margin-right: 5px">
                            <input type="hidden" name="id" value="<%=game._id %>"/>
                            <button  class="btn waves-effect waves-light grey" type="submit">Refuse</button>
                        </form>
                    <%}%>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <div>
                        <label>Sport</label>
                    </div>
                    <div>
                        <h5 id="sport"><%= game.sport %></h5>
                    </div>
                </div>
                <div class="col s5">
                    <div>
                        <label>Date</label>
                    </div>
                    <div>
                        <h5 id="date"><%= game.date %> <%= game.time %></h5>
                    </div>
                </div>
                <div class="col s3">
                    <div>
                        <label>Level</label>
                    </div>
                    <div>
                        <h5 id="level"><%= game.level %></h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p><%= game.description %></p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div id="map" style="width:100%;height:400px;" data-address="<%= game.location %>"><%= game.location %></div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <ul class="collection with-header">
                <li class="collection-header"><h5>Organizer</h5></li>
                <a href="/users/<%= game.organizer._id %>" target="_blank" class="collection-item avatar">
                    <img src="<%= "/public/images/" + game.organizer._id + ".jpg" %>" alt="" class="circle">
                    <span class="title black-text"><%= game.organizer.name %></span>
                    <p class="grey-text">
                        <%= game.organizer.email %>
                    </p>
                </a>
                <%- include('collection', {model: game.playerids, label: label }) %>
            </ul>
        </div>
    </div>
</div>

</body>
</html>