<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find My Team | Games</title>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/public/css/materialize.clockpicker.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/public/css/style.css"  media="screen,projection"/>
    <script type="text/javascript" src="/public/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/public/js/materialize.min.js"></script>
    <script type="text/javascript" src="/public/js/materialize.clockpicker.js"></script>
    <script type="text/javascript" src="/public/js/games.js"></script>
</head>
<body>

<%- include('navbarLoggedIn', { userid: userid, avatar: avatar } ) %>

<div class="container">
    <form action="/games" method="get">
        <div class="row">
            <div class="input-field col s3">
                <label for="fromDate">From Date</label>
                <input id="fromDate" type="date" class="datepicker" name="fromdate" value="<%= fromdate %>"/>
            </div>
            <div class="input-field col s3">
                <label for="toDate">To Date</label>
                <input  id="toDate" type="date" class="datepicker" name="todate" value="<%= todate %>">
            </div>
            <div class="input-field col s3">
                <label for="fromTimepicker">From Time</label>
                <input id="fromTimepicker" class="timepicker" type="time" name="fromtime" value="<%= fromtime %>">
            </div>
            <div class="input-field col s3">
                <label for="toTimepicker">To Time</label>
                <input id="toTimepicker" class="timepicker" type="time" name="totime" value="<%= totime %>">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <%- include('select', {model: sports, label: "Sport", choosed: criteria.sport}) %>
            </div>
            <div class="input-field col s3">
                <%- include('select', {model: levels, label: "Level", choosed: criteria.level}) %>
            </div>
            <div class="input-field col s3">
                <select name="city">
                    <option value="" disabled selected="selected">Choose city</option>
                    <option value="Budapest">Budapest</option>
                    <option value="Miskolc">Miskolc</option>
                </select>
                <label>City</label>
            </div>
            <div class="input-field col s3">
                <button class="btn waves-effect waves-light" type="submit">Search
                    <i class="material-icons right">search</i>
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <% games.forEach(function (game) { %>
        <div class="col s4">
            <%- include('gameTile', {game: game} ) %>
        </div>
        <% }); %>
    </div>
    <!--<ul class="pagination center">-->
        <!--<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>-->
        <!--<li class="active"><a href="#!">1</a></li>-->
        <!--<li class="waves-effect"><a href="#!">2</a></li>-->
        <!--<li class="waves-effect"><a href="#!">3</a></li>-->
        <!--<li class="waves-effect"><a href="#!">4</a></li>-->
        <!--<li class="waves-effect"><a href="#!">5</a></li>-->
        <!--<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>-->
    <!--</ul>-->
</div>

</body>
</html>