<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find My Team | Index</title>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/public/css/style.css"  media="screen,projection"/>
    <script type="text/javascript" src="/public/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/public/js/materialize.min.js"></script>
    <script type="text/javascript" src="/public/js/index.js"></script>
</head>
<body>

<%- include('navbarLoggedIn', userid) %>

<div class="container">
    <form action="/index" method="get">
        <div class="row">
            <div class="input-field col s2 offset-s6">
                <label for="fromDate">From</label>
                <input id="fromDate" type="date" class="datepicker" name="from" value="<%= from %>"/>
            </div>
            <div class="input-field col s2">
                <label for="toDate">To</label>
                <input  id="toDate" type="date" class="datepicker" name="to" value="<%= to %>">
            </div>
            <div class="input-field col s2">
                <button class="btn waves-effect waves-light" type="submit">Search
                    <i class="material-icons right">search</i>
                </button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s3 <%= participates.length != 0 ? "" : "disabled"%>"><a class="active" href="#games1">Games participated (<%= participates.length %>)</a></li>
                <li class="tab col s3 <%= invites.length != 0 ? "" : "disabled"%>"><a href="#games2">Games invited (<%= invites.length %>)</a></li>
                <li class="tab col s3 <%= requests.length != 0 ? "" : "disabled"%>"><a href="#games3">Games requested (<%= requests.length %>)</a></li>
                <li class="tab col s3 <%= organized.length != 0 ? "" : "disabled"%>"><a href="#games4">Games organized (<%= organized.length %>)</a></li>
            </ul>
        </div>
        <div id="games1">
            <div class="row">
                <% participates.forEach(function (game) { %>
                    <div class="col s4">
                        <%- include('gameTile', {game: game} ) %>
                    </div>
                <% }); %>
            </div>
            <ul class="pagination center">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
        <div id="games2">
            <div class="row">
                <% invites.forEach(function (game) { %>
                <div class="col s4">
                    <%- include('gameTile', {game: game} ) %>
                </div>
                <% }); %>
            </div>
            <ul class="pagination center">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
        <div id="games3">
            <div class="row">
                <% requests.forEach(function (game) { %>
                <div class="col s4">
                    <%- include('gameTile', {game: game} ) %>
                </div>
                <% }); %>
            </div>
            <ul class="pagination center">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
        <div id="games4">
            <div class="row">
                <% organized.forEach(function (game) { %>
                <div class="col s4">
                    <%- include('gameTile', {game: game} ) %>
                </div>
                <% }); %>
            </div>
            <ul class="pagination center">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>

</div>

</body>
</html>