<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find My Team | Register</title>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/public/css/style.css"  media="screen,projection"/>
    <script type="text/javascript" src="/public/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/public/js/materialize.min.js"></script>
    <script type="text/javascript" src="/public/js/register.js"></script>
</head>
<body>

<%- include('navbarLoggedOut') %>

<div class="container">
    <div class="row">
        <form class="col s12" action="/register" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input id="username" type="text" class="validate" name="username">
                    <label for="username">Username</label>
                </div>
                <div class="input-field col s6">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">E-mail</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                </div>
                <div class="input-field col s6">
                    <input id="confirm" type="password" class="validate" name="confirm">
                    <label for="confirm">Confirm</label>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <div class="row">
                        <div class="input-field col s12">
                            <%- include('select', {model: sexes, label: "Sex", choosed: ""}) %>
                        </div>
                        <div class="input-field col s12">
                            <%- include('select', {model: years, label: "Birth Year", choosed: ""}) %>
                        </div>
                    </div>
                </div>
                <div class="col s9">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="description" class="materialize-textarea" name="description"></textarea>
                            <label for="description">Description</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <% sports.forEach(function (row) { %>
                    <div class="col s2">
                        <input type="checkbox" id="<%= row %>" name="sports[]" value="<%= row %>"/>
                        <label for="<%= row %>"><%= row %></label>
                    </div>
                <% }); %>
            </div>
            <div class="row">
                <button class="btn-large waves-effect waves-light" type="submit" name="action">Register
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>